{% load static %}
{% static "images" as baseURL %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Staff View</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Travello template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'table-06/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
    <link href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.theme.default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">

	</head>
	<body>
        <div class="super_container">

            <!-- Header -->
        
            <header class="header">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="header_content d-flex flex-row align-items-center justify-content-start">
                                <div class="header_content_inner d-flex flex-row align-items-end justify-content-start">
                                    <div class="logo"><a href="{% url 'index' %}">BRACU_Shelter</a></div>
                                    <nav class="main_nav">
                                        <ul class="d-flex flex-row align-items-start justify-content-start">
                                            <li class="active"><a href="{% url 'index' %}">Home</a></li>
                                            <li class="active"><a href="{% url 'authority_view' %}">All Pets</a></li>
                                            <li><a href="{% url 'all_users' %}">All Users</a></li>
                                            <li><a href="{% url 'vet_visit' %}">Vet Status</a></li>
                                            {% if user.is_authenticated %}
                                            <li><b>🖐{{user.first_name}}</b></li>
                                            <li><h2><b><a href="accounts/logout">Logout</a><b></h2></li>
                                            <li><a href="{% url 'signup' %}" style="color: red;">Create User</a></li>
                                            <li><a href="{% url 'wanna_donate' %}" style="color: red;">Create Pet</a></li>
                                            {% endif %}
        
                                        </ul>
                                    </nav>
                                    <div class="header_phone ml-auto">Call us: +8801712345</div>
        
                                    <!-- Hamburger -->
        
                                    <div class="hamburger ml-auto">
                                        <i class="fa fa-bars" aria-hidden="true"></i>
                                    </div>
        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header_social d-flex flex-row align-items-center justify-content-start">
                    <ul class="d-flex flex-row align-items-start justify-content-start">
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </header>
        
            <!-- Menu -->
        
            <div class="menu">
                <div class="menu_header d-flex flex-row align-items-center justify-content-start">
                    <div class="menu_logo"><a href="index.html">BRACU_Shelter</a></div>
                    <div class="menu_close_container ml-auto"><div class="menu_close"><div></div><div></div></div></div>
                </div>
                <div class="menu_content">
                    <ul>
                        <li><a href="inex.html">Home</a></li>
                        <li><a href="about.html">About us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="accounts/signup" style="color: red;">Sign up / Sign in</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="menu_social">
                    <div class="menu_phone ml-auto">Call us: +8801712345</div>
                    <ul class="d-flex flex-row align-items-start justify-content-start">
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        
            <!-- Home -->
        
            <div class="home">
        
                <!-- Home Slider -->
                <div class="home_slider_container">
                    <div class="owl-carousel owl-theme home_slider">
        
                        <!-- Slide -->
                        <div class="owl-item">
                            <div class="background_image" style="background-image:url({% static 'images/home_slider_x.jpg' %})"></div>
                            <div class="home_slider_content_container">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="home_slider_content">
                                                <div class="home_title"><h2>Find Your New Best Friend</h2></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <!-- Slide -->
                        <div class="owl-item">
                            <div class="background_image" style="background-image:url({% static 'images/home_slider.jpg' %})"></div>
                            <div class="home_slider_content_container">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="home_slider_content">
                                                <div class="home_title"><h2>Give Them a Beautiful Life</h2></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <!-- Slide -->
                        <div class="owl-item">
                            <div class="background_image" style="background-image:url({% static 'images/home_slider.jpg' %})"></div>
                            <div class="home_slider_content_container">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="home_slider_content">
                                                <div class="home_title"><h2>Rescue Them and Send them to Us</h2></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                    </div>
        
                    <div class="home_page_nav">
                        <ul class="d-flex flex-column align-items-end justify-content-end">
                            <li><a href="#" data-scroll-to="#destinations">Offers<span>01</span></a></li>
                            <li><a href="#" data-scroll-to="#testimonials">Testimonials<span>02</span></a></li>
                            <li><a href="#" data-scroll-to="#news">Latest<span>03</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        
            <!-- Search -->
        
            <div class="home_search">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_search_container">
                                <div class="home_search_title">Search for your Animal</div>
                                <div class="home_search_content">
                                    <form action="" method="get" class="home_search_form" id="home_search_form">
                                        <div class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
                                            <input type="text" class="search_input search_input_1" placeholder="Name", name = "name", value="{{name_query}}" >  
                                            <input type="text" class="search_input search_input_2" placeholder="Serial No", name = "serial_no", value="{{serialno_query}}" >
                                            <input type="text" class="search_input search_input_3" placeholder="Estimated Cost", name = "estimated_cost", value="{{estCost_query}}" >                             
                                            <select name="type" class="search_input search_input_4">
                                                <option value="">--Select Type--</option>
                                                <option value="Dog" {% if type_query == 'Dog' %}selected{% endif %}>Dog</option>
                                                <option value="Cat" {% if type_query == 'Cat' %}selected{% endif %}>Cat</option>
                                                <option value="Fish" {% if type_query == 'Fish' %}selected{% endif %}>Fish</option>
                                                <option value="Bird" {% if type_query == 'Bird' %}selected{% endif %}>Bird</option>
                                            </select>
                                            <select name="status" class="search_input search_input_5">
                                                <option value="">--Select Status--</option>
                                                <option value="AVAILABLE" {% if status_query == 'AVAILABLE' %}selected{% endif %}>Available</option>
                                                <option value="ADOPTED" {% if status_query == 'ADOPTED' %}selected{% endif %}>Adopted</option>
                                            </select>
                                            <button class="home_search_button" type="submit">search</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
    
            
            <!-----------------------------------------------TAble starts Here-------------------------------------------------------------------------------->
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-4">
					<h2 class="heading-section">Table #01 Pet Table</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h3 class="h5 mb-4 text-center">Table Accordion</h3>
					<div class="table-wrap">
                        <div style="overflow-x: auto; white-space: nowrap;">
						<table class="table">
                            <thead class="thead-primary">
                              <tr>
                                <th>Action</th>
                                <th>Image</th>
                                <th>Description</th>
                                <th>Serial No</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Est. Cost</th>
                                <th>Status</th>
                                <th>Donation Date</th>
                                <th>Donation Time</th>
                                <th>Donor NID</th>
                                <th>Adoption Date</th>
                                <th>Adoption Time</th>
                                <th>Adopter NID</th>
                                <th>Remove</th>
                              </tr>
                            </thead>
                            
                            <tbody>
                            {% for pet_i in pets%}  
                              <tr class="alert" role="alert">
                                <td>
                                  <label class="checkbox-wrap checkbox-primary">
                                    <input type="checkbox" checked>
                                    <span class="checkmark"></span>
                                  </label>
                                </td>
                                <td>
                                    <div class="img" style="background-image: url({{baseURL}}/{{pet_i.img}});"></div>
                                    <div class="img" style="background-image: url({{pet_i.img.url}});"></div>
                                </td>
                                <td>
                                  <div class="email">
                                    <span>{{pet_i.description}}</span>
                                    <span>Fugiat voluptates quasi nemo, ipsa perferendis</span>
                                  </div>
                                </td>
                                <td>{{pet_i.serial_no}}</td>
                                <td>{{pet_i.name}}</td>
                                <td>{{pet_i.type}}</td>
                                <td>{{pet_i.estimated_cost}}</td>
                                <td class="quantity border-bottom-0">
                                    <div class="quantity form-control input-number" 
                                         style="background-color: #000000; border: 2px solid #ff0000; padding: 6px; text-align: center; 
                                         {% if pet_i.status == 'Adopted' %} color: green; {% else %} color: white; {% endif %}">
                                        {{ pet_i.status }}
                                    </div>
                                </td>        
                                <td>{{pet_i.donation_date}}</td>
                                <td>{{pet_i.donation_time}}</td>
                                <td>{{pet_i.donor_nid_id}}</td>
                                <td>{{pet_i.adoption_date}}</td>
                                <td>{{pet_i.adoption_time}}</td>
                                <td>NiD {{pet_i.adopter_nid_id}} {{pet_i.adopter_nid}}</td>
                                <td>
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                  </button>
                                </td>
                              </tr>
                              <td></td>
                            {% endfor %}  
                            </tbody>
                          </table>
                            
                    </div>
					</div>
				</div>
			</div>
		</div>
	</section> 
      

    <script src="{% static 'table-06/js/jquery.min.js' %}"></script>
    <script src="{% static 'table-06/js/popper.js' %}"></script>
    <script src="{% static 'table-06/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'table-06/js/main.js' %}"></script>
    <script src="{% static 'table-06/js/jquery-3.2.1.min.js' %}"></script>

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
    <script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
    <script src="{% static 'plugins/Isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'plugins/scrollTo/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'plugins/easing/easing.js' %}"></script>
    <script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

	</body>
</html>

